<h1>Listing tables</h1>

<table>
  <thead>
    <tr>
      <th>In use?</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>

    <% @tables.each do |table| %>
      <tr>
        <td><%= 'Mesa no. ' %><%=table.id %></td>
        <% if table.used %>
          <td><%= 'En orden' %></td>
          <td><%= link_to 'Show', table %></td>
        <% else %>
          <td><%= 'Disponible' %></td>
        <% end %>
        </tr>
    <% end %>
  </tbody>
</table>
<span> hola guapo </span>

<br>

<%= link_to 'New Table', new_table_path %>
