<% @Todos.each do |cliente|%>
  

<% @Total = 0 %>
<div class = "row">
  <div class ="large-12 columns">
    <h1 align = "center">Nombre del Restaurante</h1>
  </div>

<div class="large-12 columns">
  <h4 align="center">RTN:08019000123456</h4>
</div>

  <div class="large-12 columns">
    <br>
  </div>

  <div class ="large-8 columns" >
    <h4 align="left" >Factura número <%=@bill.id %></h4>
  </div> 


  <div class ="large-4 columns" >
    <h4 align="right">Fecha  <%= Time.now.strftime("%d/%m/%Y ") %></h4>
  </div>
  <div class ="large-12 columns" >  
    <h4 align = "left">Nombre del Cliente: <%= cliente.Name %></h2>
  </div>
 
  <div class= "large-12 columns">
    <br>
  </div>
  <%@subtotal = 0 %>
  <%@Total =0 %>
  <table align="center", role="grid", width="600">
    <thead>
      <th>Concepto</th>
      <th style="text-align:right;">Cantidad a pagar</th>
    </thead>
    <tbody>
      <% cliente.Orders.each do |orden|%>
      <% @producto = Product.find(orden.Product_id)%>
      <% @temp = orden.Clients %>
      <%@subtotal = (@producto.Price/(1+@producto.Tax/100))/@temp.size%>
      <tr>
        <td><%=@producto.Name%></td>
        <td style="text-align:right;"><%= number_to_currency(@subtotal, unit: "L. ", precision: 2) %></td>
      </tr>
        <% @Total +=@subtotal %>
        <%end%>     
        <tr>
          <td>
          </td>
          <td>
          </td>
        </tr>
        <tr>
          <td>
          </td>
          <td>
          </td>
        </tr>  
      <tr>
        <td>
          <strong>Subtotal</strong></td>
        <td style="text-align:right;">
          <%=number_to_currency(@Total, unit: "L. ", precision: 2) %>
        </td>
      </tr>
      <tr>
        <td>  
          <strong>Isv</strong>
        </td>
        <td style="text-align:right;">
        <%= number_to_currency(cliente.ISV, unit: "L. ", precision: 2) %>
        </td>
      </tr>
      <tr>
        <td>
          <strong>Total</strong>
        </td>
        <td style="text-align:right;">
          <%=   number_to_currency(cliente.Total, unit: "L. ", precision: 2) %>
        </td>
      </tr>
    </tbody>
  </table>


   

  <br>
  <br>

<p align="center">¡La factura es beneficio de todos, exíjala!</p>
<% end%>