<nav class="top-bar docs-bar hide-for-small" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to 'Menú', products_path %></h1>
    </li>
  </ul>


<section class="top-bar-section">
    <ul class="left">
      <li class="has-dropdown"><a href="#">Clientes</a>

        <ul class="dropdown">
          <li><label>Clientes en esta orden</label></li>
          <%@clientes.each do |cliente| %>
          <li><%= link_to cliente.Name + number_to_currency(cliente.Total, unit: "L. ", precision: 2), cliente %></li>
          
          <li class="divider"></li>    
          <%end%>
        </ul>
      </li>
      
    </ul>
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="active"><a href="#">Pagar</a></li>
    </ul>


  </section>



  
</nav>



<body>  



<h1>Menú</h1>  
<div class = "row">
<div class= "small-8 columns"> 
    <% if notice =="Bienvenido"%>
  <div data-alert class="alert-box success radius">
  Bienvenido
  <a href="#" class="close">&times;</a>
</div>
    <% end%>
    <% if notice =="Ok"%>
  <div data-alert class="alert-box success radius">
  Orden Creada con exito
  <a href="#" class="close">&times;</a>
</div>
    <% end%>

  </div>
  <div class="small-4 columns">
    <h4>Factura número: <%= @bill.id %></h4>
  </div>
</div>


<% @categories.each do |category| %>
<h2><%= category.Name %></h2>
<br>  
<% @products.each do |product| %>
<%if category.id == product.Category_id%>

<div class="row">
  <div class="small-5 columns">
    <p id = "<%= product.id %>" class = "nombres"><%= product.Name %></p>
    <p><%= product.Description %></p>
  </div>
  <div class="small-4 columns">
    <p><%= image_tag product.Image_url %></p>
  </div>
  <div class="small-3 columns">
    <p id = "precio<%= product.id %>"><%= number_to_currency(product.Price, unit: "L. ", precision: 2) %></p>
    <!--<a href="#" class="button small" data-reveal-id="myModal">Ordenar</a> !-->
    <a href="javascript:;" id="btn<%= product.id %>"  class="button small btn-order" data-samuel-id="<%= product.id %>" style= "Color:white">Ordenar</a>
  </div> 
</div>
<% end %>

<%end %> 
<% end %>





<div id="myModal" class="reveal-modal" data-reveal>
 
 <h2 id = "texto">Vacio</h2>
  <div>
    <p class= "lead" id = "precio">Vacio</p>  
    <p class="lead">El plato lo ordenará (en caso de que exista mas de un nombre, se asumirá que compartirán el plato)</p>
  </div>


  <%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class ="field">
  <%= f.hidden_field :Product_id %>
</div>

<div class ="field">
   <%= hidden_field_tag "Intentemos" %>
</div>


<div class = "field">

<div data-alert class="alert-box">
Escriba el nombre de la persona seguido de la tecla Enter
  <a href="#" class="close">&times;</a>
</div>
<%= text_field_tag "prueba" %>
</div>
<div class ="field">
<%@clientes.each do |cliente| %>  
<a href="javascript:;" onclick="if (!($('#prueba').tagExist('<%=cliente.Name %>'))){$('#prueba').addTag('<%=cliente.Name %>');}", class="tiny button secondary"><%=cliente.Name %></a>
<% end%>
</div>

  <div class="actions">
    <%= f.submit class: "button" %>
  </div>
<% end %>
  <a class="close-reveal-modal">&#215;</a>
</div>
</body>
<br>
